body {
	font-family: Arial, sans-serif;
	background-color: #121212;
	text-align: center;
	padding: 0px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
* {
	box-sizing: border-box;
}

.title {
	font-size: 20px;
	text-align: center;
	margin: 20px 0;
	display: none;
}
.desktop-only {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
	/* background: linear-gradient(120deg, #ff00c8, #38004a); */
	background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
	justify-content: center;
	align-items: center;
	z-index: 9999;
	text-align: center;
 }
 
 .desktop-only .message {
	color: #fff;
	animation: fade-in-out 2s ease-in-out infinite alternate;
 }

 .song {
	font-weight: bold;
 }
 
 .desktop-only h1 {
	font-size: 1.5rem;
	margin: 2rem;
	animation: scale-up 2s ease-in-out infinite alternate;
 }
 
 .desktop-only p {
	font-size: 1rem;
	line-height: 30px;
	margin: 1rem;
 }
.container {
	display: grid;
	grid-template-columns: 1fr 3px 1fr;
	align-items: center;
	margin: 20px;
}

.hidden-message {
	line-height: 25px;
	position: relative;
	font-size: 17px;
	text-align:justify;
	margin: 0 20px;
	transition: transform 1s ease-in-out, opacity 1s ease;
}
 
.custom-br {
	display: block;
	height: 6px;
	width: 100%;
}

.hidden-message.revealed {
	visibility: visible;
	opacity: 1;
	transform: translateX(50%);
}

.hidden-word {
	/* visibility: hidden; */
	color: #121212;
	transition: visibility 0s, opacity 0.5s ease-in-out;
	opacity: 1;
}
.hidden-word[data-key] {
	font-weight: bold;
}
.hidden-word.show {
	background: linear-gradient(120deg, 
	  #ff00c8 20%, 
	  #7c00a5 50%, 
	  #ff00c8 80%);
	background-size: 200%;
	background-clip: text;
	font-weight: bold;
	word-spacing: -2px;
	/* font-size: 17px; */
	-webkit-text-fill-color: transparent;
	animation: shine 3s linear infinite;
}
 
.word-container {
	padding-left: 20px;
	transition: all 0.3s ease;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
 
.word {
	display: inline-block;
	background: #1e1e1e;
	padding: 8px 20px;
	border-radius: 20px;
	color: white;
	font-size: 17px;
	word-spacing: 2px;
	cursor: pointer;
	transition: transform 0.3s, opacity 0.5s;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
	transition: opacity 0.5s, transform 0.3s, margin 0.3s;
	position: relative;
}
 
.word:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
 
.vanish {
	animation: vanish 0.5s forwards;
	transition: opacity 0.5s, transform 0.3s, margin 0.3s;
}
 
@keyframes vanish {
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
}
 
@keyframes moveToPosition {
	0% {
		opacity: 1;
		transform: scale(1) translate(0, 0);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate(0, 0);
	}
}
 
.divider {
	width: 3px;
	background-color: #ccc;
	height: 90vh;
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
}
 
@keyframes shine {
  0% {
	 background-position: 0%;
  }
  100% {
	 background-position: 200%;
  }
}

.shake {
	box-shadow: 0 0 10px rgba(255, 99, 99, 0.7);
	animation: shake 0.5s ease;
}

@media (max-width: 1024px) {
	.desktop-only {
	  display: flex;
	}
 
	.container {
	  display: none;
	}
 }
 
 /* Animations */
 @keyframes fade-in-out {
	from {
	  opacity: 0.7;
	}
	to {
	  opacity: 1;
	}
 }
 
 @keyframes scale-up {
	from {
	  transform: scale(1);
	}
	to {
	  transform: scale(1.1);
	}
 }

 .popupContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: #000000aa;
 }
 .popup {
	position: relative;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.2); /* Shiny effect */
	text-align: center;
	padding: 30px;
	animation: fade-in 0.5s ease-in-out;
	position: relative;
	background: linear-gradient(to bottom right, #1e1e1e, #070707);
	z-index: 1000;
	overflow: hidden;
 }

 /* Shiny reflective effect */
 .popup:before {
	content: "";
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 10%;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
	transform: rotate(45deg);
	opacity: 0.5;
	z-index: -1;
 }

 @keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
 }

 /* Popup Show and Hide Animations */
 .popupContainer.show {
	display: flex;
 }

 .popupContainer.hide {
	animation: fade-out 0.5s forwards;
 }

 @keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
 }

 /* Popup Text */
 .popup p {
	font-size: 20px;
	margin: 20px 0;
	color: #ecf0f1;
 }

 /* Button Styles */
 .popup button {
	margin: 10px;
	padding: 10px 30px;
	font-size: 17px;
	cursor: pointer;
	border: none;
	background-color: #007BFF;
	color: white;
	border-radius: 10px;
	transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
 }

 #yesButton {
	background-color: #00b32d;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 }
 #yesButton:hover {
	transform: translateY(-5px);
 }

 /* No Button Movement Styles */
 #noButton {
	position: relative;
	transition: transform 0.5s ease, background-color 0.3s ease;
	background-color: #e74c3c;
	box-shadow: 0 5px 15px rgba(255, 0, 0, 0.5);
 }

 #noButton.smooth-move {
	transform: translate(var(--x, 0px), var(--y, 0px));
 }
 canvas {
	z-index: -100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
 }

 .container-card {
	position: relative;
	width: 400px;
	opacity: 1;
	transition: opacity 1s ease-out, display 1s ease-out;
}

.lock-button-toggle {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #fff;
	border: 2px solid #999;
	background: #121212;
	font-size: 28px;
	cursor: pointer;
	z-index: 2;
	transition: box-shadow 0.3s ease-in;
	animation: blinking-white-shadow 1.5s infinite;
}

.lock-button-toggle:hover {
	animation: none;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.7) !important;
}
@keyframes blinking-white-shadow {
	0% {
	  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	}
	50% {
	  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
	}
	100% {
	  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	}
 }

.card-glass {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	transition: height 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-text-content {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	margin: 20px 40px;
	color: #fff;
	text-align: center;
}

.card-glass h2 {
	font-size: 24px;
	margin: 0 0 30px;
	text-align: left;
}

.card-glass label {
	color: #ddd;
	margin-bottom: 5px;
	display: block;
	text-align: left;
}

.card-glass input[type="text"] {
	width: 100%;
	margin: 10px 0 20px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	outline: none;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}

.card-glass input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.card-date-picker-custom {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-top: 10px;
}

.card-date-picker-custom select {
	flex: 1;
	padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
	font-size: 14px;
	outline: none;
}

.card-date-picker-custom select::-webkit-scrollbar {
	display: none;
}

.card-date-picker-custom select option {
	color: #000;
}

.card-glass button {
	padding: 12px 24px;
	font-size: 17px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-glass button:hover {
	background-color: #0056b3;
	transform: scale(1.05);
}

.card-glass button.left-button {
	transform: translateX(-100%);
}

.card-glass button.right-button {
	transform: translateX(100%);
}

.fade-out-effect {
	display: none;
}

.fade-in-effect {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.hidden-element {
	display: none;
}

.lock {
	box-shadow: 0 0 10px rgba(255, 99, 99, 0.7);
	border-color: red;
	animation: lock 0.5s ease;
}

@keyframes lock {

	0%,
	100% {
		transform: translateX(-50%);
	}

	25%, 75% {
		transform: translateX(calc(-50% - 5px));
	}

	50% {
		transform: translateX(calc(-50% + 5px));
	}
}

.overlayContainer {
	font-family: 'Arial', sans-serif;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #121212;
	position: relative;
	overflow: hidden;
}

.popupCard {
	padding: 30px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	text-align: center;
	opacity: 0;
	transform: scale(0.5);
	animation: fadeIn 1s forwards;
	z-index: 999;
	color: #fff;
	width: 450px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

.popupCardTitle {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.swiftieTitle {
	background: linear-gradient(120deg, 
		#ff59de 20%, 
		#7c00a5 50%, 
		#ff59de 80%);
	background-size: 200%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 3s linear infinite;
}
.popupCard p {
	font-size: 18px;
	color: #fff;
	margin: 20px;
	line-height: 1.6;
}

.popupCard button {
	margin: 10px;
	padding: 10px 30px;
	font-size: 17px;
	cursor: pointer;
	border: none;
	background-color: #007BFF;
	color: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.popupCard button:hover {
	background-color: #0055b1;
	transform: translateY(-5px);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeInOverlay {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.5);
	}
}